<h1 class="text-3xl">My Favourite Games</h1>

{{#each @model.favgames as |favgame|}}
    <div id="favgames">
        <br>
        <hr>
        <h3>Game Name: {{favgame.gamename}}</h3>
        <br>
        <h3>Release year: {{favgame.startyear}}</h3>
    </div>
      
{{/each}}