<div>
    <h1 class="text-4xl ml-5 italic">Main Page</h1>
</div>

<Graphs />

{{!-- template-lint-disable no-curly-component-invocation --}}
{{!-- template-lint-disable no-implicit-this --}}
{{!-- {{ember-chart 
type='line' 
data=[12, 19, 3, 5, 2, 3] 
width=200 
height=200
}} --}}
