<br>
<br>
<div class="graphs">
<hr>
<br>
<img src="assets/images/graph1.png" alt="Total Hours of Users by Code Type" width="1024" height="1024">
<br>
<hr>
<br>
<img src="assets/images/graph2.png" alt="Total Hours of Users" width="1024" height="1024">
<br>
<hr>
<br>
<img src="assets/images/graph3.png" alt="Total Billable and Non-Billable Hours of Users" width="1024" height="1024">
</div>