<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>Main Page</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="favgame" class="menu-favgames">
      Favourite Games
    </LinkTo>
    <LinkTo @route="modlist" class="menu-modlists">
      My Mods
    </LinkTo>
  </div>
</nav>