<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>Main Page</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="favgames" class="menu-favgames">
      Favourite Games
    </LinkTo>
    <LinkTo @route="mymods" class="menu-mymods">
      My Mods
    </LinkTo>
  </div>
</nav>